<div class="modal fade" id="modal-interaction" tabindex="-1" role="dialog" aria-labelledby="modal-interaction-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-interaction-label"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-interaction-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modal-interaction-primary"></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal-interaction-secondary"></button>
      </div>
    </div>
  </div>
</div>

<script>
function openModal(title, message, buttonPrimary, buttonSecondary) {
  $('#modal-interaction-label').text(title);
  $('#modal-interaction-body').text(message);
  if(buttonPrimary != null){
    $('#modal-interaction-primary').text(buttonPrimary.lbl)
    $('#modal-interaction-primary').on('click', buttonPrimary.func);
  }
  if(buttonSecondary != null)
    $('#modal-interaction-secondary').text(buttonSecondary.lbl)
    $('#modal-interaction-secondary').on('click', buttonSecondary.func);
  $('#modal-interaction').modal('show');
}
function closeModal(){
  $('#modal-interaction').modal('hide');
  $('#modal-interaction-label').text("");
  $('#modal-interaction-body').text("");
  $('#modal-interaction-primary').text("");
  $('#modal-interaction-secondary').text("");
  $('#modal-interaction-primary').off();
  $('#modal-interaction-secondary').off();
}
</script>
